# Masukan library

In [55]:
import pandas as pd
import math

# Masukan data

In [40]:
with open("result.txt", "r") as file:
    data = file.read()

# Ubah data jadi tabel

In [41]:
data_blocks = data.strip().split("===")
data_dicts = []

In [43]:
for block in data_blocks:
    data_entries = block.strip().split("\n")
    data_entry = {}
    for entry in data_entries:
        parts = entry.split(": ", 1)
        if len(parts) == 2:
            key, value = parts
            data_entry[key] = value
    if data_entry:
        data_dicts.append(data_entry)

# Jadikan DataFrame

In [45]:
df = pd.DataFrame(data_dicts)
print(df)

                          From Data Message Type Repeat Indicator       MMSI  \
0      17ldpHCP007UaLGtWerrOgvJ24ip            1                0  525023329
1      17lobWhP01WU<bctV5Lc5wvB20S7            1                0  525200031
2      17m:0fwP01WU7c=tW1?dNOvB2<5b            1                0  525500603
3      19NSAeh02MWS`satO0I1T1FF20S4            1                0  636015031
4      17liV9`P1KWTtj3tWC94JOvF2L3c            1                0  525100582
...                             ...          ...              ...        ...
23577  17ldIhhP01WU<4StUr?Gc?v:280A            1                0  525015491
23578  176w>502Ae7U>PotbhMCVBf80H3n            1                0  477089300
23579  17ldt9wP00WU=gqtVj9Mbgv:2H3g            1                0  525024295
23580  17mF?uOP01WUN8Ot`kAV@Ov820Rl            1                0  525701109
23581  17m:4:HP01WUdP1tWQUN4?v<2843            1                0  525501481

      Navigation Status Rate of Turn (ROT) Speed Over Ground  \
0                     3                128                 0
1                     0                128                 1
2                    15                128                 1
3                     0                  0               157
4                     0                  5               743
...                 ...                ...               ...
23577                 0                128                 1
23578                 0                  9               109
23579                15                128                 0
23580                15                128                 1
23581                 8                128                 1

      Position Accuracy           Longitude             Latitude  \
0                     0          106.091325            -5.905955
1                     1  105.99310166666666             -5.95053
2                     1  105.97606333333333   -5.925016666666667
3                     1  105.71658333333333    54.18710333333333
4                     1            69.20213            68.680135
...                 ...                 ...                  ...
23577                 1  105.99106833333333   -5.955311666666667
23578                 0          105.999405  -5.8229516666666665
23579                 1  105.99679333333333  -5.9314583333333335
23580                 1  106.05271833333333  -5.5903583333333335
23581                 1           106.10176   -5.911218333333333

      Course Over Ground True Heading Time Stamp Manuver Indicator Spare  \
0                 -141.0          511         13                 0     0
1                 -125.7          511          9                 0     0
2                  -90.3          511          9                 0     0
3                  102.9          203          1                 0     0
4                 -140.9          459          1                 0     7
...                  ...          ...        ...               ...   ...
23577              196.4          511          5                 0     0
23578               92.1           87          4                 0     0
23579              -59.8          511          5                 0     0
23580               12.7          452          1                 0     0
23581              -49.6          511          6                 0     0

      RAIM Flag Radio Status
0             1        19576
1             1         2247
2             1        49514
3             0         2244
4             0          235
...         ...          ...
23577         1        32785
23578         0        98550
23579         1        98543
23580         0         2228
23581         1        33027

[23582 rows x 17 columns]

# Ambil data yang dibutuhkan

In [48]:
data_ais = df[['Navigation Status', 'MMSI', 'Longitude', 'Latitude']]
print(data_ais)

      Navigation Status       MMSI           Longitude             Latitude
0                     3  525023329          106.091325            -5.905955
1                     0  525200031  105.99310166666666             -5.95053
2                    15  525500603  105.97606333333333   -5.925016666666667
3                     0  636015031  105.71658333333333    54.18710333333333
4                     0  525100582            69.20213            68.680135
...                 ...        ...                 ...                  ...
23577                 0  525015491  105.99106833333333   -5.955311666666667
23578                 0  477089300          105.999405  -5.8229516666666665
23579                15  525024295  105.99679333333333  -5.9314583333333335
23580                15  525701109  106.05271833333333  -5.5903583333333335
23581                 8  525501481           106.10176   -5.911218333333333

[23582 rows x 4 columns]

# Menentukan jumlah duplikat

In [49]:
jumlah_duplikat = data_ais.duplicated().sum()
print(jumlah_duplikat)

432

In [52]:
tampilkan_duplikat = data_ais[data_ais.duplicated()]
if not tampilkan_duplikat.empty:
    print("\nData Duplikat:")
print(tampilkan_duplikat)

Data Duplikat:
      Navigation Status       MMSI           Longitude             Latitude
247                   0  525400425  -91.56264166666666   -95.79172166666666
319                   8  525014065  106.12566666666666              -5.9445
553                   5  525601254  106.11230666666667  -5.9701466666666665
628                   8  525014065  106.12532666666667   -5.944166666666667
806                   0  525001068  106.10911666666667   -5.975133333333333
...                 ...        ...                 ...                  ...
23443                 0  525101872  106.11350166666666   -5.963568333333333
23465                11  525021328  106.10759166666666             -5.98188
23468                 0  525001068            106.1091  -5.9751666666666665
23479                15  525006281  106.10261833333334            -5.918525
23573                15  525963284  106.11179833333334   -5.981821666666667

[432 rows x 4 columns]

In [53]:
hapus = data_ais.drop_duplicates()
print(hapus)

      Navigation Status       MMSI           Longitude             Latitude
0                     3  525023329          106.091325            -5.905955
1                     0  525200031  105.99310166666666             -5.95053
2                    15  525500603  105.97606333333333   -5.925016666666667
3                     0  636015031  105.71658333333333    54.18710333333333
4                     0  525100582            69.20213            68.680135
...                 ...        ...                 ...                  ...
23577                 0  525015491  105.99106833333333   -5.955311666666667
23578                 0  477089300          105.999405  -5.8229516666666665
23579                15  525024295  105.99679333333333  -5.9314583333333335
23580                15  525701109  106.05271833333333  -5.5903583333333335
23581                 8  525501481           106.10176   -5.911218333333333

[23150 rows x 4 columns]

# Jadikan DataFrame

In [59]:
df = pd.DataFrame(hapus)
print(df)

      Navigation Status       MMSI           Longitude             Latitude
0                     3  525023329          106.091325            -5.905955
1                     0  525200031  105.99310166666666             -5.95053
2                    15  525500603  105.97606333333333   -5.925016666666667
3                     0  636015031  105.71658333333333    54.18710333333333
4                     0  525100582            69.20213            68.680135
...                 ...        ...                 ...                  ...
23577                 0  525015491  105.99106833333333   -5.955311666666667
23578                 0  477089300          105.999405  -5.8229516666666665
23579                15  525024295  105.99679333333333  -5.9314583333333335
23580                15  525701109  106.05271833333333  -5.5903583333333335
23581                 8  525501481           106.10176   -5.911218333333333

[23150 rows x 4 columns]

# Simpan data ke excel

In [60]:
df.to_excel('final_data.xlsx', index=False)